@model Google.Auth.Mvc.Empty.Models.ExternalLoginRegsiterModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterExternalLogin</title>
</head>
<body>
    <div>

        @using (Html.BeginForm("RegisterExternalLogin", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.LabelFor(x => x.Username)
            @Html.TextBoxFor(x => x.Username)
            <br />
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email)<br />
            <input type="submit" name="submit" id="submit" value="Submit" />
        }
    </div>
</body>
</html>
